<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="referrer" content="no-referrer-when-downgrade">
        <link href="https://cdn.jsdelivr.net/gh/PrismJS/prism-themes@447479fc7b2be2051fe27e561aceed7cc87a589f/themes/prism-one-light.css" rel="stylesheet">
        <title>{{ title or metadata.title | escape }}</title>
    </head>
    <body>
        {{ content | safe }}
    </body>
</html>
